# Ignore virtual environments
venv/
.env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

Natural_Language_processing/NLP_Projects/*.csv

Natural_Language_processing\NLP_Beginner\Spoken_Language_Processing_Python\sheIsALady.wav

hf_env

# .gitignore
.venv/
__pycache__/
*.pyc
*.pyo
Natural_Language_processing/NLP_Extertise/.venv_hf_models

.venv_hf_models
.venv_fineTuning
Natural_Language_processing/NLP_Extertise/.venv_fineTuning
Core_ML/EDA

# Python virtual environments
envs/
